.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product {
  background: white;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 3px;
  width: 100px;
  height: 100px;
  margin: 25px;
}


